.container-banner{
    height: 450px;
}

.gradient-banner{
    height: 450px;
    width: 50%;
    background: linear-gradient(to left, rgba(0,0,0,0), var(--color2) 50%, var(--color2) 75%);    position: absolute;
    z-index: 1;
}

.bg-img-banner img{
    width: 60%;
    height: 450px;
    object-fit: cover;
    position: absolute;
    opacity: 0.4;
    right: 0;
    z-index: 0;
}

.container-details-banner{
    height: 450px;
    width: 83%;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
}

.container-details-banner .button-voltar{
    padding-left: 1.9rem;
    position: absolute;
    top:0;

    background-color: transparent;
    border: 0;
    color: var(--color12);
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 0.6rem;

    font-family: 'Quicksand', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
}
.container-details-banner .button-voltar span{
    color: var(--color10);
}

.container-details-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 3.4rem;
}
.container-details-info .top-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.container-details-info .left-container{
    height: 165px;
    width: 110px;
    grid-area: left-info-details;
}

.container-details-info .left-container img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.container-details-info .right-container{
    margin-left: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-title{
    display: flex;
    flex-direction: column;
}
.info-title h1{
    color: var(--color12);
    max-width: 30vw;
}
.info-title div{
    color: var(--color8);
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    gap: 0.2rem;
}

.streaming-container{
    
}

.container-details-info .bottom-container{
    grid-area: bottom-info-details;
    background-color: blueviolet;
}
