.container-banner{
    height: 450px;
}

.gradient-banner{
    height: 450px;
    width: 50%;
    background: linear-gradient(to left, rgba(0,0,0,0), var(--color2) 50%, var(--color2) 75%);    position: absolute;
    z-index: 1;
}

.bg-img-banner img{
    width: 60%;
    height: 450px;
    object-fit: cover;
    position: absolute;
    opacity: 0.4;
    right: 0;
    z-index: 0;
}

.container-details-banner{
    height: 450px;
    width: 83%;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
}

.container-details-banner .button-voltar{
    padding-left: 1.9rem;
    position: absolute;
    top:0;

    background-color: transparent;
    border: 0;
    color: var(--color12);
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 0.6rem;

    font-family: 'Quicksand', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
}
.container-details-banner .button-voltar span{
    color: var(--color10);
}

.container-details-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 3.4rem;
    gap: 1.2rem;
}
.container-details-info .top-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:1.2rem;
}

.container-details-info .left-container{
    height: 165px;
    width: 110px;
}

.container-details-info .left-container img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.container-details-info .right-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-title{
    display: flex;
    flex-direction: column;
}
.info-title h1{
    color: var(--color12);
    max-width: 30vw;
}
.info-title div{
    color: var(--color8);
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    gap: 0.2rem;
}

.streaming-container{
    
}

.container-details-info .bottom-container .infos-icon-container{
    display: flex;
    align-items: flex-end;
    color: var(--color7);
    font-weight: 600;
    gap: 1.3rem;
}
.info-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-icon div {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}
.info-icon div span{
    font-size: 1rem;
}
.info-icon small {
    font-size: 0.6rem;
}



.details-container{
    margin: 36px 36px 56px 56px;
    display:grid;
    grid-template-columns: 1fr 300px;
    gap: 1.3rem;
}

.left-details-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.left-details-container p{
    font-size: 0.9rem;
}

.right-details-container{
    background-color: var(--color3);
    border-radius: 10px;
}
