/* MAIN CONTAINER */
a{
    text-decoration: none;
}

.main-slider{
    border: 1px solid var(--color5);
    border-radius: 10px;
    padding: 30px 50px;
    margin: 0px 50px;
    height: 280px;

    display: flex;
    justify-content: space-between;
}

.main-slider .gradient-banner{
    margin: 0px 50px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 70%;
    border-radius: 10px;
    z-index: -1;
    background: linear-gradient(to left, rgba(0,0,0,0), var(--color1) 50%, var(--color1));
}

.main-slider .bg-img-banner img{
    margin: 0px 50px;
    position: absolute;
    top: 0;
    height: 100%;
    width: 60%;
    border-radius: 10px;
    object-fit: cover;
    opacity: 0.4;
    right: 0;
    z-index: -2;
}

.main-slider .slider-banner-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}

.main-slider .slider-banner-content .title-banner h1{
    color: var(--color12);
    font-weight: 600;
    font-size: 2rem;
    max-width: 40vw;
}
.main-slider .slider-banner-content .title-banner div{
    color: var(--color9);
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    gap: 0.2rem;
}
.main-slider .slider-banner-content h3{
    font-weight: 400;
}
.main-slider .slider-banner-content .info-icon-container{
    display: flex;
    justify-content: flex-start;
    color: var(--color9);
    font-weight: 600;
    gap:1rem
}

.banner-right-arrow{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 50px 100px;
}
.banner-left-arrow{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 50px 150px;
}

.carousel-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    user-select: none;
    -webkit-user-select: none;
}

.carousel-title{
    padding-left: 50px;
    font-size: 1.3rem;
    font-weight:500;
}

.arrow-container{
    background-color: var(--color1);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
}

.large-left-arrow{
    position: absolute;
    top: 0;
    margin-top: -45px;
    right: 100px;
}
.large-right-arrow{
    position: absolute;
    top: 0;
    margin-top: -45px;
    right: 50px;
}

.small-left-arrow{
    position: absolute;
    top: 32%;
    left: 2.2rem;
}
.small-right-arrow{
    position: absolute;
    top: 32%;
    right: 2.2rem;
}

.carousel-item-container{
    border-radius: 15px;
    display: flex;
}

.title-carousel-item{
    height: 215px;
    width: 380px;
    color: var(--color12);
    background: linear-gradient(rgba(0,0,0,0), rgba(0, 0, 0, 0.85));
    border-radius: 10px;

    position: absolute;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 1.2rem;
}

.title-carousel-item h1{
    font-size: 1.4rem;
    font-weight: 500;
}

.carousel-img-large{
    height: 215px;
    width: 380px;
    border-radius: 10px;
}
.carousel-img-small{
    height: 215px;
    width: 145px;
    border-radius: 10px;
    object-fit: cover;
    background-color:var(--color1);
}

.item a{
    display: flex;
    align-items: flex-end;
}
.item a:hover  .img-title{
    display: flex;
    transform: translateY(0px);
    transition: 200ms;
}

.img-title{
    position: absolute;
    width: 145px;
    /* height: 30px; */
    padding: 5px 10px;
    border-radius: 0 0 10px 10px;
    left: 0;
    bottom: 0;
    background-color: rgba(11, 12, 14, 0.8);
    color: var(--color12);
    font-weight: 500;
    font-size: 0.8rem;
    align-items: center;
    overflow: hidden; 
    text-overflow: ellipsis;
    transform: rotateX(50px);
    transform: translateY(100%);
    transition: 200ms;
}




/* Slider Ator */

.actor-carousel-container{
    width: 53vw;
}

.actor-carousel-container .alice-carousel__stage{
    display: flex;
    align-items: stretch;
    gap: 1rem;
    align-content: stretch;
}

.actor-card{
    background-color: var(--color1);
    padding: 1rem;
    border-radius: 10px;
    width: 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.actor-card img{
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 100%;
}
.actor-card div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.actor-card div span{
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
}
.actor-card div small{
    font-size: 0.6rem;
    font-weight: 600;
    color: var(--color9);
    text-align: center;
}



@media (max-width: 600px) {
    .carousel-title{
        padding-left: 20px;
    }
    .alice-carousel__wrapper{
        padding-left: 20px !important;
    }
    /*Banner Slider*/

    .main-slider{
        padding: 20px 20px;
        margin-left: 0px;
        margin-right: 20px;
        height: 150px;
    }
    .main-slider .gradient-banner{
        margin-left: 0px;
    }
    .main-slider .slider-banner-content{
        justify-content: space-between;
    }
    .main-slider .bg-img-banner img{
        margin-right: 20px;
    }
    .main-slider .slider-banner-content .title-banner h1{
        font-size: 1rem;
        max-width: 90vw;
    }
    .main-slider .slider-banner-content .title-banner div{
        font-size: 0.7rem;
    }
    .main-slider .slider-banner-content .info-icon-container{
        display: none;
    }
    .main-slider .slider-banner-content h3{
        font-size: 0.7rem;
    }

    .banner-right-arrow, .banner-left-arrow{
        display: none;
    }

    /*  Actor Slider  */
    .actor-carousel-container{
        width: 90vw;
    }

}


