
.carousel-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    user-select: none;
    -webkit-user-select: none;
}

.carousel-title{
    padding-left: 50px;
    font-size: 1.3rem;
    font-weight:500;
}

.arrow-container{
    background-color: var(--color1);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
}

.large-left-arrow{
    position: absolute;
    top: 35%;
    left: 2.2rem;
}
.large-right-arrow{
    position: absolute;
    top: 35%;
    right: 2.2rem;
}

.small-left-arrow{
    position: absolute;
    top: 32%;
    left: 2.2rem;
}
.small-right-arrow{
    position: absolute;
    top: 32%;
    right: 2.2rem;
}

.carousel-item-container{
    border-radius: 15px;
    display: flex;
}

.title-carousel-item{
    height: 215px;
    width: 380px;
    color: var(--color12);
    background: linear-gradient(rgba(0,0,0,0), rgba(0, 0, 0, 0.85));
    border-radius: 10px;

    position: absolute;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 1.2rem;
}

.title-carousel-item h1{
    font-size: 1.4rem;
    font-weight: 500;
}

.carousel-img-large{
    height: 215px;
    width: 380px;
    border-radius: 10px;
}
.carousel-img-small{
    height: 215px;
    width: 145px;
    border-radius: 10px;
    object-fit: cover;
    background-color:var(--color1);
}

.item a{
    display: flex;
    align-items: flex-end;
}
.item a:hover  .img-title{
    display: flex;
    transform: translateY(0px);
    transition: 200ms;
}

.img-title{
    position: absolute;
    width: 145px;
    /* height: 30px; */
    padding: 5px 10px;
    border-radius: 0 0 10px 10px;
    left: 0;
    bottom: 0;
    background-color: rgba(11, 12, 14, 0.8);
    color: var(--color12);
    font-weight: 500;
    font-size: 0.8rem;
    align-items: center;
    overflow: hidden; 
    text-overflow: ellipsis;
    transform: rotateX(50px);
    transform: translateY(100%);
    transition: 200ms;
}

@media (max-width: 600px) {
    .carousel-title{
        padding-left: 20px;
    }
    .alice-carousel__wrapper{
        padding-left: 20px !important;
    }   
}