
.header-container{
    position: fixed;
    background-color: var(--color2);
    border-right: solid 1px var(--color5);
    height: 100vh;
    width: 220px;
    padding: 40px 30px;

    display: flex;
    flex-direction: column;
    row-gap: 80px;
}

.header-container .logo{
    color: var(--color8);
    text-decoration: none;
    font-size : 0.8rem;
    font-weight: 600;
}

.header-container .menu-title{
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    color: var(--color5);
    font-weight: 900;
}

.header-container nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-container nav ul{
    position: absolute;
    margin-top: 1.6rem;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.header-container .nav-link-button{
    list-style: none;
    padding: 0.6rem;
    margin: 0 1rem;
    width: 100%;
    border-radius: 10px;
}
.nav-link-button a{
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.nav-link-button .material-symbols-outlined, .nav-link-button .material-symbols-rounded{
    color: var(--color6);
    font-weight: 500;
    font-size: 30px;
}

.nav-link-button .titleLink {
    color: var(--color10);
    font-weight: 500;
}

.indicator-nav{
    position: absolute;
    margin-left: 199.2px ;
    margin-top: -24px;
    height: 20px;
    width: 5px;
    background-color: var(--red);
    border-radius: 1rem 0 0 1rem;
    opacity: 0;
}

.active-indicator-nav{
    background-color: var(--red);
    opacity: 1;
}


@media (max-width: 900px) {
    .header-container{
        background-color: var(--color3);
        position: fixed;
        height: 80px;
        width: 100vw;
        bottom: 0;
        display: flex;
        align-items: center;
        z-index: 40;
        padding: 0;
        border: 0;
    }
    .header-container .logo{
        display: none;
    }
    .header-container .menu-title{
        display: none;
    }
    .header-container nav ul{
        margin-top: 0;
        left: 0;
        flex-direction: row;
        gap: 0;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }
    .header-container .nav-link-button{
        display: flex;
        flex-direction: row;
        width: auto;
    }
    .nav-link-button a {
        display: flex;
        flex-direction: column;
        font-size: 0.7rem;
    }
    .header-container{
        width: 100%;
    }
    
  }