
.search-container{
    padding: 1.2rem 3.4rem;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.navigation-arrow-container{
    display: flex;
    gap: 20px;
}

.search-icon{
    position: absolute;
    font-size: 1.3rem;
    padding: 0.5rem 0.9rem;
    color: var(--color9);
}

.search-input{
    width: 312px;
    padding: 0.6rem 1rem;
    padding-left: 3rem;
    border: 1 solid var(--color1);
    border-radius: 1.2rem;
    background-color: var(--color3);
    color: var(--color13);
    font-size: 0.8rem;
}
.search-input::placeholder{
    font-size: 0.9rem;
    font-family: var(--open-sans);
    color: var(--color6);
}

.userImage{
    height: 50px;
    width: 50px;
    background-color: var(--color3);
    border-radius: 50px;
}