.container-banner{
    height: auto;
}

.gradient-banner{
    height: 420px;
    width: 60%;
    z-index: 1;
    background: linear-gradient(to left, rgba(0,0,0,0), var(--color1) 50%, var(--color1));
    position: absolute;
}

.bg-img-banner img{
    width: 60%;
    height: 420px;
    object-fit: cover;
    position: absolute;
    opacity: 0.4;
    right: 0;
    z-index: 0;
}

.container-details-banner{
    height: 420px;
    width: 83%;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
}

/* .container-details-banner .button-voltar{
    padding-left: 1.9rem;
    position: absolute;
    top:0;

    background-color: transparent;
    border: 0;
    color: var(--color12);
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 0.6rem;

    font-family: 'Quicksand', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
}
.container-details-banner .button-voltar span{
    color: var(--color10);
} */

.container-details-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 3.4rem;
    gap: 20px;
}
.container-details-info .top-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.container-details-info .left-container{
    height: 215px;
    width: 145px;
}

.container-details-info .left-container img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.container-details-info .right-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-title{
    display: flex;
    flex-direction: column;
}
.info-title h1{
    color: var(--color12);
    font-weight: 600;
    font-size: 3rem;
    max-width: 40vw;
}
.info-title div{
    color: var(--color9);
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    gap: 0.2rem;
}

.streaming-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--color9);
}

.streaming-container .streaming-icons-container{
    display: flex;
    column-gap: 10px;
}
.streaming-container .streaming-icons-container img{
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.container-details-info .bottom-container .infos-icon-container{
    display: flex;
    align-items: flex-end;
    color: var(--color9);
    font-weight: 600;
    gap: 1.3rem;
}
.info-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-icon div {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 2px;
}
.info-icon div span{
    font-size: 1rem;
}
.info-icon small {
    font-size: 0.6rem;
    font-weight: 600;
}


@media (max-width: 900px) {
    .gradient-banner{
        background: linear-gradient(to left, rgba(0,0,0,0), var(--color1) 20%, var(--color1));

    }
}
@media (max-width: 600px) {
    .gradient-banner{
        background: linear-gradient(to left, rgba(0,0,0,0), var(--color1) 100%, var(--color1));
        height: 200px;
    }
    .bg-img-banner img{
        height: 200px;
        width: 100%;
    }
    .container-details-banner{
        height: 200px;
    }
    .container-details-info{
        margin-left: 20px;
    }
    .info-title h1{
        font-size: 1.5rem;
    }
    .info-title div span{
        font-size: 0.6rem;
    }
    .bottom-container{
        display: none;
    }
    .container-details-info .top-container{
        flex-wrap: nowrap;
    }
    .container-details-info .left-container{
        height: 147px;
        width: 100px;
    }
    .streaming-container{
        row-gap: 5px;
        font-size: 0.6rem;

    }
    .streaming-container .streaming-icons-container img{
        height: 30px;
        width: 30px;
    }
}