*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root{
    --color1: #0A0B10;
    --color2: #11131B;
    --color3: #181A25;
    --color4: #222432;
    --color5: #2F3242;
    --color6: #414454;
    --color7: #666B85;
    --color8: #7D83A4;
    --color9: #99A0C3;
    --color10: #BCC2E2;
    --color11: #D7DBF5;
    --color12: #ECEFFF;
    --red: #AE1717;

}
body{
    background-color: var(--color2);
    color: var(--color12);
    font-family: 'Open Sans', sans-serif;
}

p, small{
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Quicksand', sans-serif;
}


.container-main{
	margin-left: 230px;
    
    width: auto;
    height: 100%;
    background-color: var(--color2);
}